.main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
    width: 100%;
}

.game_canvas {
    flex: 1;
}

.game_div {
    flex: 1;
    display: flex;
}
